[k9-elem=container] > [k9-texture=background] {
	stroke: black;
	stroke-width: 2pt;
}

[k9-elem=container] > [k9-elem=indicator],
[k9-elem=group] > [k9-elem=indicator],
[k9-elem=diagram] > [k9-elem=indicator] {
	fill: none;
	stroke: none;
}

[k9-texture=background][k9-elem=container].solid >  * {
	stroke: black;
	stroke-width: 1pt;
	stroke-dasharray: none;
}

[k9-texture=background][k9-elem=container].dotted >  * {
	stroke: black;
	stroke-width: 1pt;
	stroke-dasharray: 4 4;	
}
