@import url('/public/templates/adl/adl.css');
@import url('/public/templates/editor/editor.css');
@import url('/public/fonts/metropolis/metropolis.css');
@import url(flowchart-shapes.css);

[texture=flowchart-symbol] {
	fill: #BBBBBB;
	stroke: black;
}

[k9-elem=diagram] > [texture] {
	fill: white;
}

[texture=foreground] > text {
  font-family: "metropolis";
  text-align: start;
  font-size: 10pt;
  stroke: none;
  fill:  black;	
}

[k9-elem=textarea] > [texture=background],
[k9-elem=label] > [texture=background] { 
  fill: none;
  stroke: none;
}