@import url('/public/templates/adl/adl.css');
@import url('/public/templates/editor/editor.css');
@import url('/public/fonts/metropolis/metropolis.css');
@import url(flowchart-shapes.css);
@import url(flowchart-components.css);

[k9-elem=textarea],
[k9-elem=label] {
	fill: #333300;
	font-family: "metropolis";
	text-align: start;
	font-size: 10pt;
}

[k9-format=inline-text] > [k9-elem=back],
[k9-elem=depiction] > [k9-elem=back]  {
	fill: #BBBBBB;
	stroke: black;
}
