/* Actions */

[k9-elem=action] {
	--kite9-sizing: minimize;
	--kite9-margin: 10pt;
	--kite9-padding: 12pt;
	--kite9-padding-right: 22pt;
}

[k9-elem=action].left {
  --kite9-padding-left: 22pt;
  --kite9-padding-right: 12pt;
}

[k9-elem=action] text {
  fill-opacity: 1; 
  font-size: 12pt;
  font-weight: 200;
  fill: white;
  text-align: middle;
}

[k9-elem=action] [k9-texture=background] {
   fill: url(#risk-background);
   stroke: black; 
}