@import url('/public/templates/adl/adl.css');
@import url('/public/fonts/opensans/opensans.css');

@import url('/public/templates/designer/glyph.css');
@import url('/public/templates/designer/arrow.css');
@import url('/public/templates/designer/symbols.css');
@import url('/public/templates/designer/context.css');

@import url('/public/templates/flowchart/flowchart-shapes.css');
@import url('/public/templates/uml/uml.css');

@import url('/public/templates/editor/editor.css');



/* Definitions of Kite9 Elements */

[k9-elem=diagram] > [k9-texture=foreground] {
  font-family: opensans;
  font-weight: 400;
  font-size: 10pt;
}

/** Drop-shadow really slows down editing at the moment, 
 * so don't show it when in editor mode
 */
@media editor {
  [k9-elem=diagram] {
    --kite9-template: url(template.xml#diagram-noshadow);
  }  
}

/* Link Labels */

[k9-elem=label] > [k9-texture=background] {
  stroke-width: 0;
  font-size: 11pt;
  font-weight: 300;
  fill: white;
}

[k9-elem=link] > [k9-elem=label] > [k9-texture=background] {
  fill: #777;
  fill-opacity: 1;
}