*.class

# Eclipse
*.project
*.classpath
target
.settings/
bin

# IntelliJ
.idea/# IntelliJ
.idea/# IntelliJ
.idea/
.idea/*
*.iml
build/
.gradle
gradle

# Mac Nonsense
*.DS_Store

#Idea
.idea/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# K9 Rubbish
merges.txt
plan.txt
positions.png
ssp.info
*.log

# Secrets
application.yml
application-local.yml

# Typescript / Node
/kite9-server-java/node_modules
/kite9-server-java/src/main/resources/static/node_modules/
/kite9-server-java/src/main/resources/static/package-lock.json
