#_moveLayer [highlight~=fill],
#_moveLayer [highlight~=pulse] {
	fill: #b7c0fe !important;
	fill-opacity: .7;
}

#_moveLayer [highlight~=stroke],
#_moveLayer [highlight~=outline] {
	stroke: #b7c0fe !important;
	stroke-opacity: .7;
}