@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/noto-sans/NotoSans-Italic.ttf?v=v0.8') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/noto-sans/NotoSans-Regular.ttf?v=v0.8') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/noto-sans/NotoSans-BoldItalic.ttf?v=v0.8') format('truetype');
}


@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/noto-sans/NotoSans-Bold.ttf?v=v0.8') format('truetype');
}
