[k9-elem=diagram] {
	--kite9-layout: down;
}

[k9-elem=tweet] {
	--kite9-padding: 0;
	--kite9-sizing: minimize;
	--kite9-margin: 20pt;
	--kite9-min-size: 1700pt 100pt;
	--kite9-connection-align: 50%;
	--kite9-connection-align: 50%;
	--kite9-layout: right;
}

[k9-elem=mini-body] {
	--kite9-layout: down;	
	--kite9-vertical-sizing: minimize;
	--kite9-horizontal-sizing: maximize;
	--kite9-margin: 0;
	--kite9-padding: 0;
	--kite9-horizontal-align: left;
}

[k9-elem=heading], 
[k9-elem=textarea],
[k9-elem=footer] {
	--kite9-horizontal-align: left;
	--kite9-padding: 0;
	--kite9-margin: 0;
	--kite9-text-bounds-width:1500pt;
}


[k9-elem=footer] {
	--kite9-margin-top: 30pt;
}
	
[k9-elem=avatar] > g > image {
	clip-path:url(#avatarClip);	
}

[k9-elem=avatar] {
	--kite9-vertical-align: top;
	--kite9-padding-left: 15pt;
	--kite9-padding-right: 15pt;
	--kite9-padding-top: 2pt;
	--kite9-padding-bottom: 2pt;
}

[k9-elem=tweet] [k9-elem=heading] {
	--kite9-layout: right;
	--kite9-margin-top: 15pt;
	--kite9-margin-bottom: 15pt;
} 


[k9-elem=displayName],
[k9-elem=screenName],
[k9-elem=date] {
	--kite9-horizontal-align: left;
	--kite9-vertical-align: top;
	--kite9-margin: 0;
	--kite9-padding: 0;
}

[k9-elem=screenName] {
	--kite9-padding-left: 16pt;
	--kite9-padding-right: 16pt;
}

[k9-elem=displayName] > g > text {
	font-weight: 500;
}

[k9-elem=screenName] > g > text,
[k9-elem=date] > g > text {
	fill: rgb(83, 100, 113);
}


[k9-elem=tweet] [k9-elem=footer] {
	--kite9-occupies-x: 1;
	--kite9-occupies-y: 2;
	--kite9-layout: right;
} 

[k9-elem=comments],
[k9-elem=likes],
[k9-elem=retweets] {
	--kite9-layout: right;
	--kite9-min-width: 300pt;
		--kite9-margin: 0;
	--kite9-padding: 0;
}


[k9-elem=comments] > g > [k9-elem=caption],
[k9-elem=likes] > g > [k9-elem=caption],
[k9-elem=retweets] > g > [k9-elem=caption] {
	--kite9-horizontal-align: left;	
	font-size: 41pt;
	fill: rgb(83, 100, 113);
	--kite9-margin: 0;
	--kite9-padding: 0;
	--kite9-padding-left: 50pt;
	--kite9-padding-bottom: 6pt;
}

[k9-elem=comments] > g > [k9-elem=depiction],
[k9-elem=likes] > g > [k9-elem=depiction],
[k9-elem=retweets] > g > [k9-elem=depiction] {
	--kite9-transform: rescale;
	--kite9-type: svg;
	stroke-width: .5;
	fill: rgb(83, 100, 113);
	stroke: none;
	--kite9-min-size: 50pt 70pt;
	--kite9-margin: 0pt;
	--kite9-padding: 0pt;
	--kite9-horizontal-align: left;
	
}


/**
 * Big Tweet Format 
 */
 

[k9-elem=tweet].big {
	--kite9-layout: down;
	
}

[k9-elem=tweet].big [k9-elem=textarea] > g > text{
	font-size: 80pt;
}

[k9-elem=big-body] {
	--kite9-layout: down;	
	--kite9-horizontal-sizing: maximize;
	--kite9-vertical-sizing: minimize;
	--kite9-margin: 0pt;
	--kite9-padding: 0;
	--kite9-horizontal-align: left;
	--kite9-padding: 25pt;
}

[k9-elem=tweet] [k9-elem=big-top] {
	--kite9-layout: right;
	--kite9-horizontal-align: left;
	--kite9-padding: 0;
	--kite9-margin: 0;
} 

[k9-elem=tweet] [k9-elem=big-top] [k9-elem=heading] {
	--kite9-layout: down;
	--kite9-horizontal-align: left;
	--kite9-padding: 0;
	--kite9-margin: 0;
} 

[k9-elem=tweet] [k9-elem=big-top] [k9-elem=heading] [k9-elem=screenName] {
	--kite9-padding-left: 0;
}

[k9-elem=sent] {
	--kite9-horizontal-align: left;
	--kite9-horizontal-sizing: maximize;
}

[k9-elem=sent] [k9-elem=date] {
	--kite9-padding-left: 0;
}

[k9-elem=sent],
[k9-elem=social-text] {
	--kite9-horizontal-align: left;	
	--kite9-margin: 0;
	--kite9-padding: 0;
	--kite9-padding-bottom: 6pt;
	--kite9-horizontal-sizing: maximize;	
	--kite9-padding-top: 25pt;
	--kite9-padding-bottom: 25pt;
}

[k9-elem=source] {
	--kite9-horizontal-align: left;	
	--kite9-margin: 0;
	--kite9-padding: 0;
}

[k9-elem=date] > g > text,
[k9-elem=source] > g > text {
	font-size: 41pt;
	fill: rgb(83, 100, 113);
}

[k9-elem=source] {
	--kite9-padding-left: 30pt;
}


[k9-elem=social-text] [k9-elem].label > g > text {
	font-size: 41pt;
	fill: rgb(83, 100, 113);
}

[k9-elem=social-text] [k9-elem].bold {
	--kite9-padding-left: 0;
	--kite9-padding-right: 40pt;
	--kite9-horizontal-align: left;
	--kite9-margin-left: 0;
}

[k9-elem=social-text] [k9-elem].label {
	--kite9-padding-right: 90pt;
}
	

[k9-elem=social-text] [k9-elem].bold > g > text {
	font-size: 41pt;
	fill: black;
	font-weight: 900;
}

[k9-elem=tweet].big [k9-elem=source],
[k9-elem=tweet].big [k9-elem=social-text] {
	--kite9-horizontal-align: left;
}

[k9-elem=sent][k9-texture=background],
[k9-elem=social-text][k9-texture=background] {
	stroke: rgb(209, 223, 224);
	stroke-width: 1pt;
}

/** 
 * Media
 */
 
[k9-elem=media] {
	--kite9-margin: 0;
	--kite9-padding: 0;
	--kite9-margin-top: 15pt;
	--kite9-horizontal-align: left;
} 

[k9-elem=media-image] {
	--kite9-margin: 0;
	--kite9-padding: 0;
} 
 
 
