/**
 * k9-texture is used to determine the colour / fill / style etc of the background. 
 */
[k9-texture=none] > [k9-elem=back] {
  /** This allows the element to still be selected */
  fill: white;
  fill-opacity: .01;
}

[k9-texture=background] > [k9-elem=back] {
  fill: white;
  fill-opacity: 1;
}

[k9-texture=solid] > [k9-elem=back] {
  fill: white;
  fill-opacity: 1;
}

[k9-texture=outline] > [k9-elem=back] {
  fill: white;
  fill-opacity: .01;
  stroke: black;
}

[k9-elem=back] {
	 --kite9-usage: decal;
}