
[k9-elem=back] {
  kite9-usage: decal; 
  kite9-type: svg;  
  kite9-template: url('back-template.xml#round-rect') '5pt' '5pt' '';
  fill: white;  /* allows hover events to work */
  fill-opacity: 1;
}

/**
 * k9-shape is used to determine the shape of the background.
 */
[k9-shape=rect] > [k9-elem=back] {
  kite9-template: url('back-template.xml#rectangle') '';
}

[k9-shape=rect10pt] > [k9-elem=back] {
  kite9-template: url('back-template.xml#round-rect') '10pt' '10pt' '';
}

[k9-shape=rect15pt] > [k9-elem=back] {
  kite9-template: url('back-template.xml#round-rect') '15pt' '15pt' '';
}

[k9-shape=ellipse] > [k9-elem=back] {
	kite9-template: url('back-template.xml#ellipse') '';
}


/**
 * k9-texture is used to determine the colour / fill / style etc of the background. 
 */
[k9-texture=none] > [k9-elem=back] {
  /** This allows the element to still be selected */
  fill: white;
  fill-opacity: .01;
}

[k9-texture=background] > [k9-elem=back] {
  fill: white;
  fill-opacity: 1;
}

[k9-texture=solid] > [k9-elem=back] {
  fill: white;
  fill-opacity: 1;
}

[k9-texture=outline] > [k9-elem=back] {
  fill: white;
  fill-opacity: .01;
  stroke: black;
}
