/* Artifacts */

[k9-elem=artifact], 
[k9-elem=document],
[k9-elem=users],
[k9-elem=computer], 
[k9-elem=interface],
[k9-elem=component],
[k9-elem=channel-artifact],
[k9-elem=internal-model-artifact],
[k9-elem=protocol-artifact],
[k9-elem=agent-artifact],
[k9-elem=image-artifact],
[k9-elem=generic-artifact] {
	kite9-type: container;
	kite9-margin: 10pt;
	kite9-link-inset: 10pt;
	kite9-link-gutter: 10pt;
	kite9-type: container;
	kite9-layout: vertical;	
	kite9-template: url(template.xml#generic-artifact);
	kite9-padding: 10pt; 
	kite9-connection-align: 50%;
	kite9-min-size: 110pt 140pt;	
}

[k9-elem=agent-artifact] {
	kite9-template: url(template.xml#artifact)  url(redesign/risks/agency_risk_v2.svg);
}

[k9-elem=document] {
  kite9-template: url(template.xml#artifact)  url(redesign/artifacts/document_v2.svg);
}

[k9-elem=users] {
	kite9-template: url(template.xml#artifact)  url(redesign/artifacts/users_v2.svg);
}

[k9-elem=interface] {
	kite9-template: url(template.xml#artifact)  url(redesign/artifacts/interface_v2.svg);
}

[k9-elem=protocol-artifact] {
	kite9-template: url(template.xml#artifact) url(redesign/risks/protocol_risk_v2.svg);
}

[k9-elem=internal-model-artifact] {
	kite9-template: url(template.xml#artifact)  url(redesign/risks/internal_model_risk.svg);
}

[k9-elem=channel-artifact] {
	kite9-template: url(template.xml#artifact) url(redesign/risks/channel_risk_v2.svg);
}

[k9-elem=component] {
	kite9-template: url(template.xml#artifact) url(redesign/artifacts/component_v2.svg);
}

[k9-elem=generic-artifact] {
  kite9-template: url(template.xml#generic-artifact);
}