@import url('/public/templates/basic/basic-textures.css');


[k9-texture] {
	font-family: metropolis;
	font-size: 12pt;
}

/* Artifacts */

[k9-texture=artifact] text {
  font-size: 12pt;
  font-weight: 200;
  fill: black;
  text-align: middle;
  --kite9-text-bounds-width: 100pt;
}

/* Labels */

[k9-elem=label-inner] {
	font-size: 12pt;
	
}

/* Arrow, Links */

[k9-elem=arrow]  {
  fill: black;  
  fill-opacity: 1; 
}

[k9-elem=arrow] > g > [k9-elem=caption] > g > text {
  fill: white;
  fill-opacity: 1; 
}

[k9-elem=from],
[k9-elem=to] {
  --kite9-marker-reserve: 8pt;
}

[k9-elem=link] {
  --kite9-link-minimum-length: 30pt;
}

/* Actions */
[k9-elem=action] [k9-texture=background] {
   fill: url(#risk-background);
   stroke: black; 
}

[k9-elem=action] > g > [k9-elem=caption] > g > text {
  fill-opacity: 1; 
  font-size: 12pt;
  font-weight: 200;
  fill: black;
  text-align: middle;
}


/* Risks */
[k9-elem=hidden],
[k9-elem=mitigated] {
	fill: white;
}



[k9-elem=title] {
  font-size: 12pt;
  font-weight: 200;
  fill: black;
  text-align: middle;
}


[k9-elem=code] {
	font-size: 22pt;
	font-weight: 300;
	fill: black;
	text-align: middle;
}

[k9-elem=risk][k9-texture=background] {
   fill: url(#risk-background);
   stroke: black; 
}


