/* Artifacts */

[k9-elem=artifact], 
[k9-elem=document],
[k9-elem=users],
[k9-elem=computer], 
[k9-elem=interface],
[k9-elem=component],
[k9-elem=channel-artifact],
[k9-elem=internal-model-artifact],
[k9-elem=protocol-artifact],
[k9-elem=agent-artifact],
[k9-elem=image-artifact],
[k9-elem=generic-artifact] {
	--kite9-margin: 10pt;
	--kite9-link-inset: 10pt;
	--kite9-link-gutter: 10pt;
	--kite9-layout: vertical;
	--kite9-padding: 10pt;
	--kite9-connection-align: 50%;
	--kite9-min-size: 110pt 140pt;
}

[k9-texture=artifact] {
  font-size: 12pt;
  font-family: "metropolis";
  font-weight: 200;
  fill: black;
  text-align: middle;
  --kite9-text-bounds-width: 100pt;
}