@import url(/github/kite9-org/kite9/templates/texture/texture-defaults.css);
@import url(/github/kite9-org/kite9/templates/containers/containers-textures.css);
@import url(/github/kite9-org/kite9/templates/links/links-textures.css);
@import url(/github/kite9-org/kite9/templates/grid/grid-textures.css);
@import url(/github/kite9-org/kite9/templates/labels/labels-textures.css);
@import url(/github/kite9-org/kite9/templates/links/links-textures.css);
@import url(/github/kite9-org/kite9/templates/highlight/highlight.css);
@import url(/github/kite9-org/kite9/templates/editor/editor.css);
@import url(/github/kite9-org/kite9/fonts/chirp/chirp-ttf.css);
@import url(/github/kite9-org/kite9/fonts/noto-sans/NotoSans.css);
@import url(/github/kite9-org/kite9/fonts/dancing-script/DancingScript.css);
@import url(/github/kite9-org/kite9/fonts/noto-serif-display/NotoSerifDisplay.css);

/* Add this in to see the frame 
[k9-elem=frame][k9-texture=default] {
	fill: #fafafa !important;
}
*/

[k9-elem=tweet] text {
	fill: rgb(36, 51, 20);
	font-family: "chirp";
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

[k9-elem=diagram][k9-texture=none] {
	fill: #eaeaea;
	fill-opacity: 1;
}


[k9-elem=tweet][k9-texture=none] {
	fill: #ffffff;
	fill-opacity: 1;
}