@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Regular.ttf?v=v0.2')
		format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Light.ttf?v=v0.2')
		format('truetype');
	font-weight: 200;
}

.collaborators {
	background-color: grey;
	position: fixed;
	color: #333;
	background: #fff;
	padding: 10px;
	border: 1px solid #5a5a5a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	user-select: none; 
	-webkit-user-select: none;
	opacity: 1;
	max-width: 242px;
	font-family: metropolis, sans-serif;
}

.collaborators:after {
	top: -10.5px;
	bottom: auto;
	left: 12.5px;
	border-width:  0px 9px 13px 9px;
	border-color: #fff transparent; 
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

.collaborators:before {
	top: -12px;
	bottom: auto;
	left: 12.5px;
	border-width:  0px  9px 13px 9px;
	border-color: #5a5a5a transparent;
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

.collaborators img {
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	border-radius: 2rem;
	background-color: #EEEEEE;
	margin: 0 .2rem 0 .2rem;
}
