@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Regular.ttf?v=v0.4')
		format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Light.ttf?v=v0.4')
		format('truetype');
	font-weight: 200;
}

.contextMenu {
	background-color: grey;
	position: absolute;
	color: #333;
	background: #fff;
	padding: 10px;
	border: 1px solid #5a5a5a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	user-select: none; 
	-webkit-user-select: none;
	opacity: .9;
	max-width: 24rem;
	width: 18rem;
	font-family: metropolis, sans-serif;
}

.contextMenu:after {
	top: 10px;
	bottom: auto;
	left: -12px;
	border-width:  9px 13px 9px 0;
	border-color: transparent #fff;
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

.contextMenu:before {
	top: 10px;
	bottom: auto;
	left: -14px;
	border-width:  9px 13px 9px 0;
	border-color: transparent #5a5a5a;
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

.contextMenu .icon img {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	border-radius: 1.5rem;
	background-color: #EEEEEE;
	margin: 0 .2rem 0 .2rem;
}

.contextMenu .large-icon img {
	width: 10rem;
  cursor: pointer;
  border-radius: .2rem;
  background-color: #EEEEEE;
  margin: .3rem;
}

.contextMenu img.selected {
	background-color: rgb(255, 204, 0);
}

.contextMenu img.selected:hover {
	background-color: rgb(205, 184, 0);
}

.contextMenu img:hover {
	background-color: #DDDDDD;
}

.contextMenu img.decoration,
.contextMenu img.decoration:hover {
	background-color: white;
}

.contextMenu textarea {
	font-family: metropolis, sans-serif;
	font-size: 1em;
	font-weight: 400;
}

.contextMenu input[disabled] {
	background-color: lightgrey;
}


.contextMenu .large-icon img {
  width: 10rem;
  cursor: pointer;
  border-radius: .2rem;
  background-color: #EEEEEE;
  margin: .3rem;
  border: 2px solid white;
}

.contextMenu .large-icon.selected img {
  border: 2px solid #CCEEFF !important; 
}

.contextMenu .large-icon:hover img {
  border: 2px solid #DDDDDD;
}