* {
	font-family: "opensans-light-webfont";
}

context, 
diagram,
glyph,
arrow,
link {
	margin: 10px;
}

diagram {
	type: diagram;
	fill: none;
	padding: 15px;
	traversal: none;
}

glyph {
	type: connected;
	sizing: minimize;
	layout: grid;	
	grid-size: 1 2;
	template: url(template.svg#glyph);
}


link {
	type: link;
}

from,
to {
	type: link-end;
} 

context {
	type: connected;
	sizing: maximize;
	traversal: always;
	padding: 12px;
}

.background {
	
	
}

.copyright {
	font-weight: normal;
	font-size: 12px;
	stroke: black;
}

.shadow {
	fill: #040404;
	offset-x: 2px;
	offset-y: 2px;
}


/* Symbols */

symbol {
	type: connected;
	sizing: fixed;
	font-weight: bold;
	font-size: 10px;
	font-family: "opensans-bold-webfont";
	text-align:  middle;
	width: 14px;
	height: 14px;
	stroke: white;
}

.symbol.label {
	color: white;
}

symbol.circle {
	fill: rgb(0, 150, 73);
	template: url(template.svg#circle);
	 
}

symbol.hexagon {
	fill: rgb(207, 36, 42);
	template: url(template.svg#hexagon);
}

symbol.diamond {
	fill: rgb(237, 106, 86);
	template: url(template.svg#diamond);
}

/* Glyph */
glyph {
	padding: 6px 10px 6px 10px; 
	margin: 10px;
	stroke-width: 2px;
	stroke: black;
	fill: white;
	box-shadow: 4px 4px 0px #333333; 
}


glyph > label {
	type: connected;
	sizing: fixed;
	font-size: 15px;
	text-align: middle;
	fill: black;
	font-family: "opensans-regular-webfont";
	template: url(template.svg#text-label);
	occupies: 0 1 1 1;
}

glyph > stereotype {
	type: connected;
	sizing: fixed;
	font-family: "opensans-bold-webfont";
	font-size: 14px;
	fill: black;
	template: url(template.svg#text-label);
	occupies: 0 0;
}

glyph > text-lines {
	type: connected;
	sizing: minimize;
	occupies: 0 1 2 2;
	layout: vertical;
}

symbols {
	type: connected;
	sizing: minimize;
	layout: horizontal;
	occupies: 1 0;
}

symbol-text-line {
	type: connected;
	sizing: minimize;
	layout: grid;
	grid-size: 2 1;
} 

text-line, text, boldText, bodyText {
	occupies: 0 0;
	type: connected;
	sizing: fixed;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 0 0 0; 
	font-size: 13px;
	stroke: black;
	fill: black;
	font-family: "opensans-regular-webfont";
	text-align: start;
	template: url(template.svg#text-label);
}

glyph > symbols {
	type: connected;
	sizing: minimize;
	occupies: 1 0;
	layout: horizontal;
}

/* Arrow */
arrow {
	padding: 3px 5px 3px 5px; 
	margin: 10 10 10 10; 
	fill: black;
	stroke: black;
	stroke-width: 2px;
	type: connected;
	sizing: minimize;
	template: url(template.svg#arrow);
	connections: separate;
}

arrow > label {
	type: connected;
	sizing: fixed;
	font-size: 12px;
	stroke: white;
	fill: white;
	text-align: middle;
	font-family: "opensans-regular-webfont";
	template: url(template.svg#text-label);
}

/* Context */

context {
	fill: none;
	stroke: black;
	stroke-width: 2px;
	template: url(template.svg#context);
	padding: 10px;
}

/* Labels */

toLabel, 
fromLabel,
context > label,
diagram > label {
	type: label; 
	fill: #CCC;
	fill-transparency: 60%;
	stroke: black;
	stroke-width: 0;
	font-size: 10px;
	font-family: "opensans-light-webfont";
	padding: 4px 4px 4px 4px;
	sizing: minimize;
	template: url(template.svg#connection-label)
}

allLinks {
	type: none;	
}


/* Key */


key {
	type: label;
	layout: grid;
	sizing: maximize;
	grid-size: 1 3;
	padding: 3px 6px 3px 6px; 
	margin: 12px 12px 12px 12px;
	template: url(template.svg#key)
}

key > boldText,
key > bodyText {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 0 0 0; 
	font-size: 13px;
	stroke: black;
	fill: black;
	font-family: "opensans-regular-webfont";
	text-align: start;
	template: url(template.svg#text-label);
}


key > boldText {
	occupies: 0 0;
	type: connected;
	sizing: fixed;
	template: url(template.svg#text-label);
}

key > bodyText {
	occupies: 0 1;
	type: connected;
	sizing: fixed;
}

key > text-lines {
	type: connected;
	sizing: maximize;
	occupies: 0 2;
	layout: vertical;
}

/* Link */

link {
	stroke: black;
	stroke-width: 2px;
	
}

link.dotted {
	stroke-dasharray: 5px 5px;
	
}

/* Terminators */

terminator,
fromDecoration, 
toDecoration {
	type: terminator;
}

.link-terminator {
	margin: 0 5px 10px 5px;
	height: 10px;
	fill: black;
	stroke: black;
	stroke-width: 1px;
}

.link-terminator.open {
	fill: none;	
}

.link-terminator.none {
	margin: 0 0 0 0;
}


.copyright {
	font-size: 12px;
}