
@font-face {
	font-family: "opensans-light-webfont";
	src: url('../fonts/opensans-light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: "opensans-bold-webfont";
	src: url('../fonts/opensans-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: "opensans-regular-webfont";
	src: url('../fonts/opensans-regular-webfont.ttf') format('truetype');
}


* {
	font-family: "opensans-light-webfont";
}

/* Definitions of Kite9 Elements */

context, 
diagram,
glyph,
arrow,
link {
	kite9-margin: 10px;
}

diagram {
	kite9-type: diagram;
	kite9-padding: 15px;
	kite9-traversal: none;
	kite9-template: url(template.svg#diagram)
}

glyph {
	kite9-type: container;
	kite9-layout: grid;	
	kite9-grid-size: 1 2;
	kite9-template: url(template.svg#glyph);
}

context {
	kite9-template: url(template.svg#context);
	kite9-padding: 10px;	
}


toLabel, 
fromLabel,
context > label {
	kite9-usage: label;
	kite9-type: container; 
	/*kite9-padding: 4px 4px 4px 4px; */
	kite9-sizing: minimize;
	kite9-template: url(template.svg#connection-label)
}

renderingInformation,
position,
size,
allLinks {
	kite9-type: none;
}

link {
	kite9-type: link;
}

from,
to {
	kite9-type: link-end;
} 

context {
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-traversal: always;
	kite9-padding: 12px;
}

/* Symbols */

symbol {
	kite9-type: svg;
}

symbol.circle {
	kite9-template: url(template.svg#circle);	 
}

symbol.hexagon {
	kite9-template: url(template.svg#hexagon);
}

symbol.diamond {
	kite9-template: url(template.svg#diamond);
}

symbol.square {
	kite9-template: url(template.svg#square);
}


glyph {
	kite9-padding: 6px 10px 6px 10px; 
	kite9-margin: 10px;
}

glyph > label {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#text-label-container);
	kite9-occupies: 0 1 1 1;
	kite9-vertical-align: top;
	/*kite9-margin: 5px */
}

glyph > label > contents {
	kite9-type: container;
	kite9-horizontal-align: center;
}

stereotype {
	kite9-type: container;
	kite9-template: url(template.svg#text-label-container);
	kite9-occupies: 0 0;
	kite9-vertical-align: bottom;
	/*kite9-margin: 0px 4px 2px 0px; */
}

glyph > stereotype > label {
	kite9-type: container;
	kite9-horizontal-align: center;
}

glyph > text-lines {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-occupies: 0 1 2 2;
	kite9-layout: vertical;
}

symbols {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-layout: horizontal;
	kite9-occupies: 1 0;
}

symbol-text-line {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-layout: grid;
	kite9-grid-size: 2 1;
} 

text-line, text, boldText, bodyText {
	kite9-occupies: 0 0;
	kite9-type: container;
	kite9-sizing: minimize;
	/*kite9-padding-top: 2px;
	kite9-padding-bottom: 2px;
	kite9-padding-left: 0px;
	kite9-padding-right: 0px;
	kite9-margin: 0 0 0 0; */
	kite9-template: url(template.svg#text-label-container);
	kite9-vertical-align: top;
	kite9-horizontal-align: left;
}

glyph > symbols {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-occupies: 1 0;
	kite9-layout: horizontal;
}

/* Arrow */
arrow {
	kite9-padding: 3px 5px 3px 5px; 
	kite9-margin: 10 10 10 10; 
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#arrow);
	kite9-connections: separate;
}


arrow > label {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#text-label-container);
	kite9-horizontal-align: center;
	kite9-vertical-align: center;
}

arrow > label > contents {
	kite9-horizontal-align: center;
	kite9-vertical-align: center;
}

terminator,
fromDecoration, 
toDecoration {
	kite9-type: terminator;
}

.link-terminator {
	kite9-margin: 0 5px 10px 5px;
}

.link-terminator.none {
	kite9-margin: 0 0 0 0;
}


/* Classes And Styles */

.arrow > .label > .contents .text {
	font-size: 12px;
	stroke: white;
	fill: white;
	font-family: "opensans-regular-webfont";
}

.copyright {
	font-weight: normal;
	font-size: 12px;
	stroke: black;
}

.symbol {
	font-weight: bold;
	font-size: 10px;
	font-family: "opensans-bold-webfont";
	text-align:  middle;
	stroke: white;
}

.symbol.label {
	color: white;
}

.context {
	fill: none;
	stroke: black;
	stroke-width: 2px;
}

.fromLabel,
.toLabel, 
.label {
	fill: #CCC;
	fill-transparency: 60%;
	stroke: green;
	stroke-width: 0;
	font-size: 10px;
	font-family: "opensans-light-webfont";
}


/* Key */


key {
	kite9-type: container;
	kite9-usage: label;
	kite9-layout: grid;
	kite9-sizing: maximize;
	kite9-grid-size: 1 3;
	kite9-padding: 3px 6px 3px 6px; 
	kite9-margin: 12px 12px 12px 12px;
	kite9-template: url(template.svg#key)
}

key > boldText,
key > bodyText {
	kite9-padding-top: 2px;
	kite9-padding-bottom: 2px;
	kite9-padding-left: 0px;
	kite9-padding-right: 0px;
	kite9-margin: 0 0 0 0; 
	kite9-template: url(template.svg#text-label-container);
	font-size: 13px;
	stroke: black;
	fill: black;
	font-family: "opensans-regular-webfont";
	text-align: start;
}


key > boldText {
	kite9-occupies: 0 0;
	kite9-type: container;
	kite9-template: url(template.svg#text-label-container);
}

key > bodyText {
	kite9-occupies: 0 1;
	kite9-type: container;
}

key > text-lines {
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-occupies: 0 2;
	kite9-layout: vertical;
}


/* Glyph */


.glyph-back {
	stroke-width: 1px;
	stroke: black;
	fill: white;
}

.glyph  .label  text {
	font-size: 15px;
	fill: black;
	font-family: "opensans-regular-webfont";
	stroke: none;
}

.glyph  .stereotype  text {
	font-family: "opensans-bold-webfont";
	font-size: 12px;
	fill: black;
	stroke: none;
	/*kite9-padding: 2px 2px 2px 2px; */
}

.glyph .text-lines text {
	stroke: none;
	fill: black;
	font-family: "opensans-regular-webfont";
	text-align: start;	
	font-size: 10px;
}

.red {
	font-size: 25px;
	fill: red;
}

.diagram {
	fill: none;
	
}

.link {
	stroke: black;
	stroke-width: 2px;
	
}

.link.dotted {
	stroke-dasharray: 5px 5px;
	
}

.link-terminator {
	height: 10px;
	fill: black;
	stroke: black;
	stroke-width: 1px;
}

.link-terminator.open {
	fill: none;	
}

.copyright {
	font-size: 12px;
}

.arrow .label text {
	fill: white;
	stroke: none;
	font-size: 12px;
	font-family: "opensans-regular-webfont";
}


.text-line,
.boldText,
.bodyText {
	font-size: 11px;
}

