@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/dancing-script/DancingScript-Regular.ttf?v=v0.4') format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/dancing-script/DancingScript-Medium.ttf?v=v0.4') format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/dancing-script/DancingScript-SemiBold.ttf?v=v0.4') format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/dancing-script/DancingScript-Bold.ttf?v=v0.4') format('truetype');
}
