
@script url('diagram.js');

diagram {
	kite9-type: diagram;
	kite9-padding: 15px;
	kite9-traversal: none;
	kite9-template: url(template.svg#diagram);
}

show-box {
	kite9-type: none;
}


glyph {
	kite9-type: container;
	kite9-layout: down;	
	kite9-template: url(template.svg#glyph);
	kite9-padding: 6px 10px 6px 10px; 
	kite9-margin: 10px;
	kite9-connection-align: 50%;
}

diagram glyph label {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#glyph-label-text);
	kite9-vertical-align: top;
	kite9-margin: 5px 
}
