.instrumentation {
	background-color: grey;
	position: fixed;
	top: 0;
	right: 10px;
	color: #333;
	background: #fff;
	padding: 8px 8px 8px 8px;
	margin: 0;
	border: 1px solid #5a5a5a;
	border-width: 0 1px 1px 1px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	background: #fff;
	user-select: none; 
	-webkit-user-select: none;
	opacity: .7;
}

.instrumentation img {
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	cursor: pointer;
	margin: 0 .2rem 0 .2rem;
	opacity: 1;
  background-color: #EEEEEE;}

.instrumentation img:hover,
.instrumentation .on img:hover {
	background-color: #DDDDDD;
}

.instrumentation .on img {
	background-color: #b7c0fe66;
}