/** text-inline format */
/** text-inline-fixed format */

[k9-format=text-inline],
[k9-format=text-inline-fixed] {
  --kite9-type: text;
  --kite9-vertical-align: center;
  --kite9-connection-align: 50%;
  --kite9-horizontal-align: center;
  --kite9-sizing: minimize;
  --kite9-margin: 15pt;
  --kite9-padding: 11pt;
}

[k9-format=inline-text] > [k9-elem=depiction] {
  --kite9-type: container;
  --kite9-min-size: 30pt 30pt;
  --kite9-margin: 5pt;
  --kite9-connection-align: 50%;
  --kite9-sizing: minimize;
  --kite9-horizontal-align: center;
}

[k9-format=inline-text] > [k9-elem=caption] {
  --kite9-type: container;
  --kite9-padding: 5pt;
  --kite9-horizontal-align: center;
}

/** image format */

[k9-format=image],
[k9-format=image-fixed] {
  --kite9-type: svg;
  --kite9-horizontal-align: center;
  --kite9-vertical-align: center;
}

[k9-format=image] > [k9-elem=front] {
  fill: white;
  fill-opacity: .01;
}



/* inline-container format */

[k9-format=container] {
	--kite9-type: container;
	--kite9-sizing: minimize;
	--kite9-margin: 15pt;
	--kite9-padding: 11pt;
}

/* captioned-text format */

[k9-elem=captioned-text],
[k9-format=captioned-text] {
	--kite9-type: container;
	--kite9-sizing: minimize;
	--kite9-margin: 16pt;
}

[k9-format=captioned-text] > [k9-elem=depiction] {
  --kite9-type: container;
  --kite9-min-size: 30pt 30pt;
  --kite9-margin: 5pt;
  --kite9-connection-align: 50%;
  --kite9-horizontal-align: center;
}

[k9-format=captioned-text] > [k9-elem=caption] {
  --kite9-type: container;
  --kite9-padding: 5pt;
  --kite9-horizontal-align: center;
}

[k9-format=captioned-text] > [k9-elem=shape-align] {
  --kite9-type: link;
}

[k9-format=captioned-text] > [k9-elem=shape-align] > [k9-elem=from],
[k9-format=captioned-text] > [k9-elem=shape-align] > [k9-elem=to] {
  --kite9-template: none;
  --kite9-type: none;
}

/* text-portrait format */

[k9-format=text-portrait] {
	--kite9-type: container;
  --kite9-sizing: minimize;
  --kite9-margin: 16pt;
  --kite9-layout: down;
}

[k9-format=text-portrait] > [k9-elem=depiction] {
  --kite9-type: container;
  --kite9-min-size: 50pt 50pt;
  --kite9-margin: 15pt;
  --kite9-connection-align: 50%;
  --kite9-horizontal-align: center;
}

[k9-format=text-portrait] > [k9-elem=caption] {
  --kite9-type: text;
  --kite9-padding: 5pt;
  --kite9-horizontal-align: center;
  --kite9-vertical-align: center;
  --kite9-sizing: minimize;
  --kite9-margin: 15pt;
  --kite9-padding: 11pt;
}