/** text-inline, text-inline-fixed format */

[format=text-shape-inline],
[format=text-fixed] {
  --kite9-type: text;
  --kite9-vertical-align: center;
  --kite9-connection-align: 50%;
  --kite9-horizontal-align: center;
  --kite9-sizing: minimize;
  --kite9-margin: 15pt;
  --kite9-padding: 10pt;
}

/** image, image-fixed format */

[format=image],
[format=image-fixed] {
  --kite9-type: svg;
  --kite9-horizontal-align: center;
  --kite9-vertical-align: center;
  --kite9-margin: 10pt;
}

/* shape */

[format=shape] {
  --kite9-type: container;
  --kite9-horizontal-align: center;
  --kite9-vertical-align: center;
  --kite9-margin: 10pt;
  --kite9-min-size: 50pt 50pt;
}

/* container format */

[format=container] {
	--kite9-type: container;
	--kite9-sizing: minimize;
	--kite9-margin: 15pt;
	--kite9-padding: 11pt;
}

/* text-captioned, text-portrait format */

[format=text-image-portrait],
[format=text-image-captioned],
[format=text-shape-captioned],
[format=text-shape-portrait] {
	--kite9-type: container;
	--kite9-sizing: minimize;
	--kite9-margin: 16pt;
}

[format=text-image-portrait],
[format=text-shape-portrait] {
  --kite9-layout: down;
}

/* depiction:  a shape inside an object */

[format=text-shape-captioned] > [k9-elem=depiction],
[format=text-image-portrait] > [k9-elem=depiction],
[format=text-shape-portrait] > [k9-elem=depiction] {
  --kite9-type: container;
  --kite9-min-size: 50pt 50pt;
  --kite9-margin: 15pt;
  --kite9-connection-align: 50%;
  --kite9-horizontal-align: center;
}

/* caption:  text inside the object */

[format=text-image-portrait] > [k9-elem=caption],
[format=text-shape-portrait] > [k9-elem=caption],
[format=text-shape-captioned] > [k9-elem=caption]  {
  --kite9-type: text;
  --kite9-padding: 5pt;
  --kite9-horizontal-align: center;
  --kite9-vertical-align: center;
  --kite9-sizing: minimize;
  --kite9-margin: 15pt;
  --kite9-padding: 11pt;
}

/* align: aligns the contents of the object */

[format=text-shape-captioned] > [k9-elem=shape-align] {
  --kite9-type: link;
}

[format=text-shape-captioned] > [k9-elem=shape-align] > [k9-elem=from],
[format=text-shape-captioned] > [k9-elem=shape-align] > [k9-elem=to] {
  --kite9-type: link-end;
}


