@import url(/github/kite9-org/kite9/templates/common/common.css);
@import url('/github/kite9-org/kite9/templates/containers/common-containers.css');
@import url(/github/kite9-org/kite9/templates/links/common-links.css);
@import url(/github/kite9-org/kite9/templates/labels/common-labels.css);
@import url(/github/kite9-org/kite9/templates/grid/common-grid.css);
@import url(/github/kite9-org/kite9/fonts/metropolis/metropolis.css);
@import url(pool.css);
@import url(bpmn-shapes.css);
@import url(bpmn-components.css);
@import url(/github/kite9-org/kite9/templates/editor/editor.css);


/*@params {
	palettes: 
	 url('palette') "connected ";
}*/

[k9-elem=textarea],
[k9-elem=label],
[k9-elem=name] {
	fill: #333300;
	font-family: "metropolis";
	text-align: start;
	font-size: 10pt;
}



[k9-k9-format=inline-text] > [k9-elem=back],
[k9-elem=depiction] > [k9-elem=back]  {
	fill: #FFFFFF;
	stroke: black;
}

[k9-elem=name] > [k9-elem=back] {
	fill: grey;
}
