
/* tables */

[k9-elem=table] {
	--kite9-layout: grid;
	--kite9-padding: 10pt;
}

/* cells */

[k9-elem=cell] {
	--kite9-usage: regular;
	--kite9-vertical-align: center;
	--kite9-horizontal-align: center;
	--kite9-sizing: minimize;
	text-align: middle;
	--kite9-min-size: 30pt 30pt;
	--kite9-traversal: always;
}

[k9-elem=_temporary],
[k9-elem=cell] > [k9-texture=background] {
	fill: #FFFFFF;
	fill-opacity: 0.01;	
}


[k9-elem=cell].bordered {
	stroke: black;
	stroke-width: 2pt;
}

[k9-elem=cell].shaded {
	fill: #CECECE;
	fill-opacity: 1;
}

/* 
cell.left {
	--kite9-horizontal-align: left;
	text-align: start;
}

cell.right {
	--kite9-horizontal-align: right;
	text-align: end;
}

cell.bottom {
	--kite9-vertical-align: bottom;
}

cell.top {
	--kite9-vertical-align: top;
} */