@import url('/public/templates/common/common.css');
@import url('/public/templates/links/common-links.css');
@import url('/public/templates/labels/common-labels.css');
@import url('/public/templates/grid/common-grid.css');
@import url('/public/fonts/metropolis/metropolis.css');

[k9-elem=diagram] {
	font-size: 50pt;
	font-family: metropolis;
}

[k9-elem=g].box {
	kite9-template: url(template.xml#box);
	kite9-padding: 10pt;
	kite9-sizing: minimize;
	kite9-type: container;
	kite9-margin: 20pt;
	kite9-min-size: 100pt 100pt;
	kite9-connection-align: 50%;
	kite9-connection-align: 50%;
}

[k9-elem=g].box > [k9-elem=back] {
	fill: #CCCCAA;
	fill-opacity: 1;
	stroke: #AAAA88;
	stroke-dasharray: none;
}

[k9-elem=g].clearbox {
	kite9-padding: 10pt;
	kite9-sizing: maximize;
	kite9-type: container;
	kite9-margin: 20pt;
	kite9-min-size: 100pt 100pt;
	kite9-connection-align: 50%;
}

[k9-elem=g].text {
	kite9-template: url('/public/templates/common/formats/formats-template.xml#textarea');
	kite9-type: text;
	kite9-margin: 4pt;
	kite9-vertical-align: center;
	kite9-connection-align: 50%;
	kite9-horizontal-align: center;
	stroke: black;
	fill: #333300;
	font-family: "metropolis";
	text-align: start;
	font-size: 50pt;
}

/* Labels */

[k9-elem=label] {
	fill: gray;
	font-family: "metropolis";
	text-align: start;
	font-size: 16pt;
	kite9-padding: 10pt;
}

[k9-elem=label] > [k9-elem=text] {
	fill: black;
}

[k9-elem=cell] {
	kite9-min-size: 40pt 40pt;
}