._overlay rect {
	fill: white;
	fill-opacity: 0.25;
	stroke: none;
}

._overlay path {
	stroke: #fd9870;
	stroke-opacity: 1;
	stroke-width: 1px;
	stroke-dasharray: 2 2;
	fill: none;
}

._overlay ellipse {
	fill: #fd9870;
	fill-opacity: 1;
}
