@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Black.ttf?v=v0.3') format('truetype');
	font-weight: 900;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-ExtraBold.ttf?v=v0.3') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Bold.ttf?v=v0.3') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Medium.ttf?v=v0.3') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Regular.ttf?v=v0.3') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Light.ttf?v=v0.3') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-ExtraLight.ttf?v=v0.3') format('truetype');
	font-weight: 200;

}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-Thin.ttf?v=v0.3') format('truetype');
	font-weight: 100;
}


/** Italic **/

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-BlackItalic.ttf?v=v0.3') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-ExtraBoldItalic.ttf?v=v0.3') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-BoldItalic.ttf?v=v0.3') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-MediumItalic.ttf?v=v0.3') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-RegularItalic.ttf?v=v0.3') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-LightItalic.ttf?v=v0.3') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-ExtraLightItalic.ttf?v=v0.3') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "metropolis";
	src: url('/github/kite9-org/kite9/client/fonts/metropolis/Metropolis-ThinItalic.ttf?v=v0.3') format('truetype');
	font-weight: 100;
	font-style: italic;
}
