
/* Arrow */

[k9-elem=arrow] {
  --kite9-padding: 8pt 5pt 8pt 5pt;
  --kite9-type: text;
  --kite9-sizing: minimize;
  --kite9-connections: separate;
  --kite9-connection-align: 50%;
  font-size: 14pt;
  font-weight: 500;
  --kite9-link-inset: 3pt;
}

[k9-elem=arrow]  {
  fill: black;  
  fill-opacity: 1; 
}

[k9-elem=arrow][k9-texture=background] > g > text {
  fill: white;
  fill-opacity: 1; 
}

[k9-elem=from],
[k9-elem=to] {
  --kite9-marker-reserve: 8pt;
}

[k9-elem=link] {
  --kite9-link-minimum-length: 30pt;
}