@font-face {
  font-family: 'Noto Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/noto-serif-display/NotoSerifDisplay-Regular.ttf?v=v0.9') format('truetype');
}

/* latin */
@font-face {
  font-family: 'Noto Serif Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/github/kite9-org/kite9/client/fonts/noto-serif-display/NotoSerifDisplay-SemiBold.ttf?v=v0.9') format('truetype');
}