/**
 * Main identifier of links
 */
[k9-format=link-align],
[k9-format=link-basic] {
  --kite9-type: link;
  --kite9-link-from-xpath: "descendant::*[@k9-elem='from']/@reference";
  --kite9-link-to-xpath: "descendant::*[@k9-elem='to']/@reference";
}

/** 
 * Link bodies of various types.
 * fill: none prevents curved links being selected from some
 * area outside the link.
 */
[k9-elem=link-grab],
[k9-elem=align-grab],
[k9-elem=grab],
[k9-elem=align-body],
[k9-elem=link-body] {
  --kite9-usage: decal;
  --kite9-type: svg;
  fill: none !important;
}

[k9-elem=from],
[k9-elem=to] {
	fill: #FFFFFF;	/* allows hover events to work */
	fill-opacity: 0.01;
}

/* Links */

[k9-elem=link] {
	--kite9-margin: 20pt;
	--kite9-link-corner-radius: 6pt;
}

/* Align */
.indicators-on [id] [k9-elem=align-body] {
	stroke: #BBDDEE !important;
	stroke-opacity: 1 !important;
}


/* Terminators */

[k9-elem=from] {
	--kite9-link-end: from;
}

[k9-elem=to] {
	--kite9-link-end: to;
}

[k9-elem=from].gap,
[k9-elem=to].gap {
	--kite9-marker-reserve: 20pt;
}

[k9-elem=from][shape=open-diamond],
[k9-elem=to][shape=open-diamond] {
	 --kite9-marker-reserve: 8pt;
} 

[k9-elem=from][shape=open-arrow],
[k9-elem=to][shape=open-arrow] {
   --kite9-marker-reserve: 6pt;
} 

[k9-elem=from], 
[k9-elem=to] {
	--kite9-type: link-end;
	--kite9-padding: 8pt 8pt 8pt 8pt;
}

/**
 * Ports
 */
 [k9-elem=port] {
 	--kite9-type: port;
 }

/**
 * For making palette look nice
 */
[k9-elem=hub] {
  --kite9-type: svg;
  --kite9-connection-align: 50%;
  --kite9-margin: 0;
  --kite9-min-size: 10pt 10pt;
}

[k9-elem=group] {
  --kite9-type: container;
  --kite9-margin: 20pt;
}
