@import url('/github/kite9-org/kite9/templates/editor/dragable.css?v=v0.8');
@import url('/github/kite9-org/kite9/templates/highlight/highlight.css?v=v0.8');
@import url('/github/kite9-org/kite9/templates/editor/contradictions.css?v=v0.8');

/* 
 * ensures enough space to drag in when using the editor 
 */
@media editor {
  [k9-elem=diagram] {
  	 --kite9-padding: 200pt !important; 
     --kite9-min-width: 50pt;
     --kite9-min-height: 50pt;
  }  
}

/**
 * Same as above, but using media attribute
 */
[media=editor] [k9-elem=diagram] {
   --kite9-padding: 200pt !important; 
   --kite9-min-width: 50pt;
   --kite9-min-height: 50pt;
}  


/* 
 * Prevents the original selection process 
 */
svg {
  user-select: none; 
  -webkit-user-select: none;
  cursor: pointer;
}

/*
 * This is used for client-side rendering.  The new version of the
 * diagram is placed in the _update div and positioned.   Size set
 * to zero so this isn't visible on screen
 */
#_update {
	width: 0;
	height: 0;
	overflow: hidden;
}