@import url(/public/templates/editor/dragable.css);
@import url(/public/templates/highlight/highlight.css);
@import url(/public/templates/editor/contradictions.css);

/* 
 * ensures enough space to drag in when using the editor 
 */
@media editor {
  [k9-elem=diagram] {
  	 --kite9-padding: 200pt !important; 
     --kite9-min-width: 50pt;
     --kite9-min-height: 50pt;
  }  
}

/* 
 * Prevents the original selection process 
 */
svg {
  user-select: none; 
  -webkit-user-select: none;
  cursor: pointer;
}

