@import url(/github/kite9-org/kite9/templates/texture/texture-defaults.css);
@import url(/github/kite9-org/kite9/templates/containers/containers-textures.css);
@import url(/github/kite9-org/kite9/templates/links/links-textures.css);
@import url(/github/kite9-org/kite9/templates/grid/grid-textures.css);
@import url(/github/kite9-org/kite9/templates/labels/labels-textures.css);
@import url(/github/kite9-org/kite9/templates/links/links-textures.css);
@import url(/github/kite9-org/kite9/templates/highlight/highlight.css);
@import url(/github/kite9-org/kite9/templates/editor/editor.css);
@import url(/public/fonts/metropolis/metropolis.css);

[k9-elem=box] > [k9-texture=background] {
	fill: #CCCCAA;
	fill-opacity: 1;
	stroke: #AAAA88;
	stroke-dasharray: none;
}

[k9-texture=foreground],
[k9-texture=background] > g > text {
	fill: rgb(36, 51, 20);
	font-family: "metropolis";
	font-size: 50pt;
}

[k9-elem=label] > [k9-texture=foreground]	{
  fill: black;
  font-family: "metropolis";
  font-size: 16pt;
}