
/** 
 * Media
 */
[k9-elem=media] {
	--kite9-padding: 0;
	--kite9-margin-top: 15px;
	--kite9-horizontal-align: left;
	--kite9-layout:down;
} 

[k9-elem=media-image] {
	--kite9-margin: 0;
	--kite9-padding: 0;
} 

[k9-elem=media-image] rect {
	stroke: rgb(207, 217, 222);
	stroke-width: 1px;
}


[k9-elem=media-info] {
	--kite9-margin: 0;
	--kite9-padding: 30px;
} 


[k9-elem=media-info] {
	--kite9-horizontal-sizing: maximize;
	--kite9-layout: down;
}

[k9-elem=site-name],
[k9-elem=site-title],
[k9-elem=site-description] {
	--kite9-horizontal-align: left;	
	--kite9-padding: 3px;
	--kite9-margin: 0px;
	--kite9-text-bounds-width:1500px;
}

[k9-elem=site-name] > text,
[k9-elem=site-description] > text {
	font-size: 41px;
	fill: rgb(83, 100, 113); 
}

[k9-elem=site-title] > text {
	font-size: 41px;
	fill: black;
}


/* Tweets */

[k9-elem=frame] {
	--kite9-layout: down;
	--kite9-padding: 100px;
	--kite9-sizing: minimize;
}

[k9-elem=tweet] {
	--kite9-padding: 16px;
	--kite9-sizing: minimize;
	--kite9-margin: 0;
	--kite9-min-size: 598px 60px;
	--kite9-connection-align: 50%;
	--kite9-connection-align: 50%;
	--kite9-layout: right;
}

[k9-elem=mini-body] {
	--kite9-layout: down;	
	--kite9-vertical-sizing: minimize;
	--kite9-horizontal-sizing: maximize;
	--kite9-margin: 0;
	--kite9-padding: 0;
	--kite9-horizontal-align: left;
}

[k9-elem=heading], 
[k9-elem=textarea],
[k9-elem=wraparea],
[k9-elem=footer] {
	--kite9-horizontal-align: left;
	--kite9-padding: 0;
	--kite9-margin: 0;
	--kite9-text-bounds-width:508px;
}


[k9-elem=footer] {
	--kite9-margin-top: 5px;
}
	
[k9-elem=avatar] > g > image {
	clip-path:url(#avatarClip);	
}

[k9-elem=avatar] {
	--kite9-vertical-align: top;
	--kite9-padding-left: 0;
	--kite9-padding-right: 0px;
	--kite9-padding-top: 0;
	--kite9-padding-bottom: 0;
	--kite9-margin-right: 12px;
}

[k9-elem=heading] {
	--kite9-layout: right;
	--kite9-margin-bottom: 9px;
	--kite9-horizontal-sizing: minimize;
} 

[k9-elem=displayName],
[k9-elem=screenName],
[k9-elem=date] {
	--kite9-horizontal-align: left;
	--kite9-vertical-align: top;
	--kite9-margin: 0;
	--kite9-padding: 0;
}

[k9-elem=screenName] {
	--kite9-padding-left: 6px;
	--kite9-padding-right: 6px;
}

[k9-elem=displayName] > text {
	font-weight: 900;
}

[k9-elem=screenName] > text,
[k9-elem=date] > text {
	fill: rgb(83, 100, 113);
}


[k9-elem=tweet] [k9-elem=footer] {
	--kite9-occupies-x: 1;
	--kite9-occupies-y: 2;
	--kite9-layout: right;
} 

[k9-elem=comments],
[k9-elem=likes],
[k9-elem=retweets] {
	--kite9-layout: right;
	--kite9-min-width: 128px;
		--kite9-margin: 0;
	--kite9-padding: 0;
}


[k9-elem=comments] > g > [k9-elem=caption],
[k9-elem=likes] > g > [k9-elem=caption],
[k9-elem=retweets] > g > [k9-elem=caption] {
	--kite9-horizontal-align: left;	
	font-size: 16px;
	fill: rgb(83, 100, 113);
	--kite9-margin: 0;
	--kite9-padding: 0;
	--kite9-padding-left: 10px;
	--kite9-padding-bottom: 3px;
}



[k9-elem=comments] > g > [k9-elem=depiction],
[k9-elem=likes] > g > [k9-elem=depiction],
[k9-elem=retweets] > g > [k9-elem=depiction] {
	--kite9-transform: rescale;
	--kite9-type: svg;
	--kite9-min-size: 16px 19px;
	--kite9-margin: 0px;
	--kite9-padding: 0px;
	--kite9-horizontal-align: left;
	stroke: none;
	stroke-width: .5;
	fill: rgb(83, 100, 113);
}

[k9-elem=comments] > g > [k9-elem=caption] > text,
[k9-elem=likes] > g > [k9-elem=caption] > text,
[k9-elem=retweets] > g > [k9-elem=caption] > text {
	stroke-width: .5;
	fill: rgb(83, 100, 113);
}
/**
 * Big Tweet Format 
 */
[k9-elem=tweet].big {
	--kite9-layout: down;
	
}

[k9-elem=tweet].big [k9-elem=textarea] > text,
[k9-elem=tweet].big [k9-elem=textarea] > text{
{
	font-size: 23px;
	--kite9-min-width: 1540px;
	--kite9-text-bounds-width:1540px;
}

[k9-elem=big-body] {
	--kite9-layout: down;	
	--kite9-horizontal-sizing: maximize;
	--kite9-vertical-sizing: minimize;
	--kite9-margin: 0px;
	--kite9-padding: 0;
	--kite9-horizontal-align: left;
	--kite9-padding: 25px;
}

[k9-elem=tweet] [k9-elem=big-top] {
	--kite9-layout: right;
	--kite9-horizontal-align: left;
	--kite9-padding: 0;
	--kite9-margin: 0;
} 

[k9-elem=tweet] [k9-elem=big-top] [k9-elem=heading] {
	--kite9-layout: down;
	--kite9-horizontal-align: left;
	--kite9-padding: 0;
	--kite9-margin: 0;
} 

[k9-elem=tweet] [k9-elem=big-top] [k9-elem=heading] [k9-elem=screenName] {
	--kite9-padding-left: 0;
}

[k9-elem=sent] {
	--kite9-horizontal-align: left;
	--kite9-horizontal-sizing: maximize;
}

[k9-elem=sent] [k9-elem=date] {
	--kite9-padding-left: 0;
}

[k9-elem=sent],
[k9-elem=social-text] {
	--kite9-horizontal-align: left;	
	--kite9-margin: 0;
	--kite9-padding: 0;
	--kite9-padding-bottom: 6px;
	--kite9-horizontal-sizing: maximize;	
	--kite9-padding-top: 25px;
	--kite9-padding-bottom: 25px;
}

[k9-elem=source] {
	--kite9-horizontal-align: left;	
	--kite9-margin: 0;
	--kite9-padding: 0;
}

[k9-elem=date] > text,
[k9-elem=source] > text {
	font-size: 15px;
	fill: rgb(83, 100, 113);
}

[k9-elem=source] {
	--kite9-padding-left: 30px;
}


[k9-elem=social-text] [k9-elem].label > text {
	font-size: 41px;
	fill: rgb(83, 100, 113);
}

[k9-elem=social-text] [k9-elem].bold {
	--kite9-padding-left: 0;
	--kite9-padding-right: 40px;
	--kite9-horizontal-align: left;
	--kite9-margin-left: 0;
}

[k9-elem=social-text] [k9-elem].label {
	--kite9-padding-right: 90px;
}
	

[k9-elem=social-text] [k9-elem].bold > text {
	font-size: 41px;
	fill: black;
	font-weight: 900;
}

[k9-elem=tweet].big [k9-elem=source],
[k9-elem=tweet].big [k9-elem=social-text] {
	--kite9-horizontal-align: left;
}

[k9-elem=sent][k9-texture=background],
[k9-elem=social-text][k9-texture=background] {
	stroke: rgb(209, 223, 224);
	stroke-width: 1px;
}
