@import url(/public/templates/texture/texture-defaults.css);
@import url(/public/templates/containers/containers-textures.css);
@import url(/public/templates/links/links-textures.css);
@import url(/public/templates/grid/grid-textures.css);
@import url(/public/templates/labels/labels-textures.css);
@import url(/public/templates/links/links-textures.css);
@import url(/public/templates/highlight/highlight.css);
@import url(/public/templates/editor/editor.css);
@import url(/public/fonts/chirp/chirp-ttf.css);

/* Add this in to see the frame 
[k9-elem=frame][k9-texture=default] {
	fill: #fafafa !important;
}
*/

text {
	fill: rgb(36, 51, 20);
	font-family: "chirp";
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

[k9-elem=diagram][k9-texture=none] {
	fill: #eaeaea;
	fill-opacity: 1;
}


[k9-elem=tweet][k9-texture=none] {
	fill: #ffffff;
	fill-opacity: 1;
}