/**
 * Main identifier of links
 */
[k9-format=link-align],
[k9-format=link-basic] {
  --kite9-type: link;
  --kite9-link-from-xpath: ".//*[@k9-elem='from']/@reference";
  --kite9-link-to-xpath: ".//*[@k9-elem='to']/@reference";
}

/** 
 * Link bodies of various types
 */
[k9-elem=link-grab],
[k9-elem=align-grab],
[k9-elem=grab],
[k9-elem=align-body],
[k9-elem=link-body] {
  --kite9-usage: decal;
  --kite9-type: svg;
  fill: none;
}

[k9-elem=from],
[k9-elem=to] {
	fill: #FFFFFF;	/* allows hover events to work */
	fill-opacity: 0.01;
}

/* Links */

[k9-elem=link] {
	--kite9-margin: 20pt;
	--kite9-link-corner-radius: 6pt;
}


/* Terminators */

[k9-elem=from] {
	--kite9-link-end: from;
}

[k9-elem=to] {
	--kite9-link-end: to;
}

[k9-elem=from].gap,
[k9-elem=to].gap {
	--kite9-marker-reserve: 20pt;
}

[k9-elem=from][shape=open-diamond],
[k9-elem=to][shape=open-diamond] {
	 --kite9-marker-reserve: 8pt;
} 

[k9-elem=from][shape=open-arrow],
[k9-elem=to][shape=open-arrow] {
   --kite9-marker-reserve: 6pt;
} 

[k9-elem=from], 
[k9-elem=to] {
	--kite9-type: link-end;
	--kite9-padding: 8pt 8pt 8pt 8pt;
}


[k9-elem=align][drawDirection=LEFT],
[k9-elem=link][drawDirection=LEFT] {
	--kite9-direction: left;
}

[k9-elem=align][drawDirection=RIGHT],
[k9-elem=link][drawDirection=RIGHT] {
	--kite9-direction: right;
}

[k9-elem=align][drawDirection=UP],
[k9-elem=link][drawDirection=UP] {
	--kite9-direction: up;
}

[k9-elem=align][drawDirection=DOWN],
[k9-elem=link][drawDirection=DOWN] {
	--kite9-direction: down;
}

/**
 * For making palette look nice
 */
[k9-elem=hub] {
  --kite9-type: svg;
  --kite9-connection-align: 50%;
  --kite9-margin: 0;
  --kite9-min-size: 10pt 10pt;
}

[k9-elem=group] {
  --kite9-type: container;
  --kite9-margin: 20pt;
}
