/**
 * Main identifier of links
 */
[k9-format=link-align],
[k9-format=link-basic] {
  --kite9-type: link;
}

/** 
 * Link bodies of various types
 */
[k9-elem=link-grab],
[k9-elem=align-grab],
[k9-elem=grab],
[k9-elem=align-body],
[k9-elem=link-body] {
  --kite9-usage: decal;
  --kite9-type: svg;
  fill: none;
}

[k9-elem=from],
[k9-elem=to] {
	fill: #FFFFFF;	/* allows hover events to work */
	fill-opacity: 0.01;
}

/* Links */

[k9-elem=link] {
	--kite9-margin: 20pt;
	--kite9-link-corner-radius: 6pt;
}

[k9-elem=link-body] {
	stroke: black;
	stroke-width: 2pt;
	fill: none;
}

[k9-elem=link].dotted [k9-elem=link-body] {
	stroke-dasharray: 8;
}

[k9-elem=link].thick [k9-elem=link-body] {
	stroke-width: 4pt;
}

[k9-elem=link].grey [k9-elem=link-body] {
	stroke: #CCCCCC;
}

/* Terminators */

[k9-elem=from] {
	--kite9-link-end: from;
}

[k9-elem=to] {
	--kite9-link-end: to;
}

[k9-elem=from].gap,
[k9-elem=to].gap {
	--kite9-marker-reserve: 20pt;
}

[k9-elem=from][shape=open-diamond],
[k9-elem=to][shape=open-diamond] {
	 --kite9-marker-reserve: 8pt;
} 

[k9-elem=from][shape=open-arrow],
[k9-elem=to][shape=open-arrow] {
   --kite9-marker-reserve: 6pt;
} 


[k9-elem=from].null, 
[k9-elem=to].null {
  --kite9-type: link-end;
  --kite9-template: url(common-links-template.xml#null-terminator);
  --kite9-padding: 8pt 8pt 8pt 8pt;
}

[k9-elem=from], 
[k9-elem=to] {
	--kite9-type: link-end;
	--kite9-template: url(common-links-template.xml#round-terminator);
	--kite9-padding: 8pt 8pt 8pt 8pt;
}

[drawDirection=DOWN] [k9-elem=from],
[drawDirection=UP] [k9-elem=to]  {
	--kite9-template: url(common-links-template.xml#up-terminator);
}

[drawDirection=UP] [k9-elem=from],
[drawDirection=DOWN] [k9-elem=to]  {
	--kite9-template: url(common-links-template.xml#down-terminator);
}

[drawDirection=RIGHT] [k9-elem=from],
[drawDirection=LEFT] [k9-elem=to] {
	--kite9-template: url(common-links-template.xml#left-terminator);
}

[drawDirection=LEFT] [k9-elem=from],
[drawDirection=RIGHT] [k9-elem=to]s  {
	--kite9-template: url(common-links-template.xml#right-terminator);
}

[drawDirection=LEFT] {
	--kite9-direction: left;
}

[drawDirection=RIGHT] {
	--kite9-direction: right;
}

[drawDirection=UP] {
	--kite9-direction: up;
}

[drawDirection=DOWN] {
	--kite9-direction: down;
}

/**
 * For making palette look nice
 */
[k9-elem=hub] {
  --kite9-type: svg;
  --kite9-connection-align: 50%;
}

[k9-elem=hub] > [k9-texture=foreground] {
  fill: #FFFFFF;
}

[k9-elem=group] {
  --kite9-type: container;
  --kite9-margin: 20pt;
}
