[k9-elem=from],
[k9-elem=to] {
	fill: #FFFFFF;	/* allows hover events to work */
	fill-opacity: 0.01;
}

[k9-elem=link] {
	stroke: black;
	stroke-width: 2pt;
	fill: none;
}

[k9-elem=link].invisible {
	stroke: none;
}

[k9-elem=link].dotted {
	stroke-dasharray: 8;
}

[k9-elem=link].thick {
	stroke-width: 4pt;
}

[k9-elem=link].grey {
	stroke: #CCCCCC;
}

[k9-elem=hub][k9-texture=background] {
  fill: #FFFFFF;
  stroke: none;
}
