@import url('/public/templates/formats/formats.css');

[k9-elem=textarea] {
  --kite9-margin: 4pt;
  --kite9-vertical-align: center;
  --kite9-connection-align: 50%;
  --kite9-horizontal-align: center;
}
