/**
 * Provides some _default_ fill options which can be used to 
 * colour svg elements.  
 *
 * Users are encouraged to adopt the texture attribute
 * and then override for their own colour schemes.
 *   
 * See designer template and formats/example.adl for an example. 
 */
 
/** 
 * This allows the element to still be selected, but have no real colour 
 */
[k9-texture=none] {
	fill: white;
  fill-opacity: .01;
  stroke-opacity: .01;
}

/** 
 * Use this for when the shape is part of the background, and will have other elements on top.
 * You should be able to see the shapes, but they shouldn't block out everything else.
 */
[k9-texture=background] {
	fill: white;
	fill-opacity: 1;
  stroke: black;
  stroke-opacity: 1;
}

[k9-texture=background] > g > text {
	fill: black;
}

/**
 * This texture is used when none is provided.  It basically defaults to the same thing as
 * background.
 */
[k9-texture~=default] {
	fill: white;
	fill-opacity: 1;
}

/**
 * Use when the object is see-through, but should still be visible.  Use to replace background.
 */
[k9-texture~=outline] {
  fill: white;
  fill-opacity: .01;
  stroke: black;
}

/**
 * Use when the object is in the foreground, and won't have content on
 * top of it.  This is used for text, generally.
 */
[k9-texture~=foreground] {
  fill: black;
  fill-opacity: 1;
  stroke: none;
}

text {
	stroke-width: 0;
}